.bg-header-footer.mb-3
	.container.p-3.p-sm-0.py-sm-3
		.d-flex.justify-content-center
			div
				a.mb-2.mb-lg-0.text-white.text-decoration-none(href="/")
					img.rounded(src="/img/icon/favicon-32x32.png" srcset="/img/icon/favicon-32x32.png 1x, /img/icon/apple-touch-icon.png 2x" alt="logo" style="width: 40px; height: 40px;")
					span.fs-4.align-middle.ms-2 #{global.appConfig.siteName}
