extends layout

block content
	h1.mb-3 Import
	hr

	if (quotes)

		pre
			code #{JSON.stringify(quotes, null, 4)}

	else

		form(method="post", action="/import")
			fieldset.mb-4
				input.form-control(name="name", type="text", placeholder="import name")

			fieldset.mb-4
				textarea#text.form-control(name="content", rows="15", placeholder="content")
			
			fieldset.mb-4
				label.mb-2(for="public")
					input.me-2(id="public", name="public", type="checkbox")
					| Make quotes in this import publically visible?
					br
					span.ms-4 (this will NOT override quote-specific visibility flags)

			.d-grid
				button.btn.btn-primary(type="submit") Import