extends layout

block headContent
	title New Quote

block content
	h1.mb-3 New Quote
	hr

	form(method="post", action="/new-quote")
		fieldset.mb-4
			textarea#text.form-control(name="text", rows="10", placeholder="quote")

		.d-grid
			button.btn.btn-primary(type="submit") Save