extends layout

block headContent
	title Quote...

block content

	.mt-6(style="margin: auto; max-width: 600px; width: 100%;")
		if (list)
			h5.mb-3
				a.badge.bg-primary(href=`/list/${list._id}`)
					i.fas.fa-list.me-1
					| #{list.name}
				
				|  &raquo;
		
		include shared/quote-card.pug