extends layout

block headContent
	title Quote...

block content

	.center-col
		if (list)
			h5.mb-3
				a.badge.bg-primary(href=`/list/${list._id}`)
					i.bi-list.me-1
					| #{list.name}
				
				|  &raquo;
		
		+quoteCard(quote, {listPage:false})