extends layout

block content
	+pageTitle("Edit Quote")
	

	form.article(method="post", action=`/quote/${quote._id}/edit`)
		fieldset.mb-4
			textarea#text.form-control(name="content", rows="15") #{quoteTextRepresentation}

		.d-grid
			button.btn.btn-primary(type="submit") Save