extends layout

block headContent
	title Search: #{query}

block content
	+quoteListPageHeader(quoteCount, limit, offset, sort, paginationBaseUrl)
		+pageTitle(`${quoteCount.toLocaleString()} Quote${quoteCount != 1 ? "s" : ""} for`)
			span.badge.text-bg-primary
				i.bi-search.me-2
				| #{query}


	include ./shared/quotes-list.pug