extends layout

block content
	h1 #{quotes.length.toLocaleString()} Quote
		| #{quotes.length != 1 ? "s" : ""}  for 
		span.badge.badge-primary
			i.fas.fa-search.mr-2
			| #{query}

	hr

	include ./shared/quotes-list.pug