extends layout

block headContent
	title Search: #{query}

block content
	.clearfix
		.float-start
			h1 #{quoteCount.toLocaleString()} Quote
				| #{quoteCount != 1 ? "s" : ""}  for 
				span.badge.bg-primary
					i.fas.fa-search.me-2
					| #{query}

		.float-end
			if (quoteCount > limit)
				+pagination(limit, offset, sort, quoteCount, paginationBaseUrl, "end")

	hr

	include ./shared/quotes-list.pug