extends layout

block headContent
	title #{tags} quotes

block content
	+quoteListPageHeader(quoteCount, limit, offset, sort, paginationBaseUrl)
		h1 #{quoteCount.toLocaleString()} Quote
			| #{quoteCount != 1 ? "s" : ""} tagged 
			each tag in tags
				span.badge.bg-primary.me-1
					i.fas.fa-tag.me-2
					| #{tag}


	hr

	include ./shared/quotes-list.pug