extends layout

block content
	h1 #{quotes.length.toLocaleString()} Quote
		| #{quotes.length != 1 ? "s" : ""} tagged 
		each tag in tags
			span.badge.badge-primary.mr-1
				i.fas.fa-tag.mr-2
				| #{tag}

	hr

	include ./shared/quotes-list.pug