extends layout

block headContent
	title My Quotes

block content
	+quoteListPageHeader(quoteCount, limit, offset, sort, paginationBaseUrl)
		h1 #{quoteCount.toLocaleString()} Quote
			| #{quoteCount != 1 ? "s" : ""}
	
	
	hr

	include ./shared/quotes-list.pug